* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff5733;
    padding: 20px;
    text-align: center;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

h1, h2 {
    margin-bottom: 20px;
}

section {
    padding: 20px;
    margin: 20px;
}

#menu .cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#menu .item {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 300px;
}

#menu .item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#menu .item h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

#menu .item p {
    font-size: 18px;
    font-weight: bold;
}

button {
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #c7451f;
}

#pedido {
    list-style-type: none;
}

.pagamento, .opcoes-entrega {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.aba {
    display: none;
}
